
<!-- Standard tints -->
.color-white{color:#FFFFFF;}
.color-lightGrey{color:#CCCCCC;}
.color-midGrey{color:#999999;}
.color-darkGrey{color:#333333;}
.color-black{color:#000000;}



<!-- Standard masthead+ colours -->
.color-webLightBlue{}
.color-webDarkBlue{}
.color-webOrange{}
.color-webPurple{}
.color-webRed{}
.color-webPink{}
.color-webGreen{}



<!-- T3 Section colours -->
.color-News{color: #227FC2;}
.color-Sport{color: #F53834;}
.color-SwitchedOn{color: #F5870D;}
.color-Hit{color: #9E55BD;}
.color-Escape{color: #2AB5BE;}
.color-Carsguide{color: #C21919;}
.color-MoneySaver{color: #2FB4A7;}
.color-CareerOne{color: #58AA28;}
.color-Taste{color: #9AC61E;}
