@font-face {
		font-family: 'Guardian Sans Cond Web';
		src: 
			 url('../fonts/Guardian Sans Cond Web-Bold.woff') format('woff');
		font-weight: 700;
		font-style: normal;
		font-stretch: normal;
}